// General Variables

$s-font-family:       'Source Sans Pro', sans-serif !default;
$s-font-weight:       600 !default;
$s-margin:            0 !default;
$s-padding:           0 !default;
$s-position:          relative !default;
$s-body-min-height:   100vh !default;
$s-header-background: black !default;
$s-header-color:      white !default;
$s-link-color:        #484848 !default;
$s-link-decoration:   none !default;
$s-h1-transform:      uppercase !default;
