// Container
$o-container--max-width:          1257px !default;
$o-container--margin:             0 auto !default;
$o-container--fullwidth:          100% !default;
$o-container--padding:            15px !default;
$o-container--margin:             auto !default;


// Grid Container
$o-grid-container--padding:                         0 !default;
$o-grid-container--margin:                          20px 15px 0 !default;
$o-grid-container--margin-desktop:                  20px auto 0 !default;
$o-grid-container--background:                      url('img/hero-bg.svg') !default;
$o-grid-container--background-color:                transparent !default;
$o-grid-container--background-position:             0 50px !default;
$o-grid-container--background-position--desktop:    0 -170px !default;
$o-grid-container--background-size :                cover !default;
$o-grid-container--background-repeat :              no-repeat !default;
$o-grid-container--background-positioning :         absolute !default;
$o-grid-container--background-top :                 0 !default;
$o-grid-container--background-bottom :              0 !default;
$o-grid-container--background-left :                0 !default;
$o-grid-container--background-right :               0 !default;
$o-grid-container--background-zindex :              -1 !default;
